header {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    margin-left: 20px;
  }
  .header-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: flex-start;
  }
  .search-container {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    margin: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    overflow:hidden;
    transition:all 0.3s ease-in-out;
    position: fixed;
    top: 110px;
    right: 170px;
    z-index: 999;
    
  }
  
  .search-container:focus-within {
    width: 500px;
  }
  
  input {
    flex: 1;
    height: 100%;
    padding: 0 10px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    background-color: transparent;
  }
    .search-btn {
      width: 60px;
      height: 100%;
      border: none;
      background-color: #160404;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  
  
  .search-btn:hover {
    background-color: #ec0404;
  }
 
  
  .header-content {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .logo {
    display: flex;
   justify-content: flex-start;
    margin-bottom: 10px;
  }
  
  .logo img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
  }
  
  nav a:hover {
    background-color: red;
    color: black;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1240px) {

  .logo img {
    display: none;
  }
  .hamburger {
    display:block;
   
}

  .nav-menu {
      position: absolute;
      flex-direction: column;
      justify-content: start;
      top: 90px;
      right: -100%;
      width: 50%;
      height: 100vh;
      transition: 0.4s;
      z-index: 2;
      background: #fff;
      border-left: 1px solid #eee;
  }

  .nav-menu.active {
      right: 0;
  }

  .nav-menu li {
      padding: 1rem;
      width: 100%;
      border-bottom: 1px solid #eee;
  }

  .nav-menu a {
      font-size: 1.2rem;
  }
  .search-container {
    width: 200px;
    top: 153px;
    left: 15px;
    z-index: 999;
    height: 35px;
    margin: 1px;
    background-color: #f5f5f5;
    border-radius: 20px;
    overflow: hidden;
    transition:none;
  }

  .search-container:focus-within {
    width: 200px;
  }
}

  
  